.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout-title {
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightGray;
}
.checkout-img {
    width: 100%;
    margin-bottom: 10px;
}